<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Perrishnikov">
    <!-- <link rel="icon" href="../../favicon.ico"> -->
    <title><%= Name %></title>
    <!-- <link href="_css/bootstrap.css" rel="stylesheet"> -->
    <!-- <link href="_css/bootstrap-theme.min.css" rel="stylesheet"> -->
    <link href="_style/main.css" rel="stylesheet">

</head>

<body>

    <div class="container" id="div3">
        <canvas id="canvas3"></canvas>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <!-- <script src="_js/lib/bootstrap.min.js"></script> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r76/three.min.js"></script>
    <script src="_scripts/main.js"></script>
    <script src="_scripts/mainThree.js"></script>

</html>
